---
import Layout from "+layout@Layout.astro";
import Navbar from "+component@Navbar.astro";
import Blogs from "+component@blogs.astro";
---

<Layout
    title="NaviTheCoderboi | blog"
    description="Hello! I'm NaviTheCoderboi, a developer from India. Welcome to my portfolio! you can read about me here and my blogs too."
    og={{
        title: "NaviTheCoderboi | blog",
        description:
            "Hello! I'm NaviTheCoderboi, a developer from India. Welcome to my portfolio! you can read about me here and my blogs too.",
        image: "./logo.png",
        type: "website",
    }}
    twitter={{
        title: "NaviTheCoderboi | blog",
        description:
            "Hello! I'm NaviTheCoderboi, a developer from India. Welcome to my portfolio! you can read about me here and my blogs too.",
        image: "./logo.png",
        card: "summary",
        creator: "@navithecoderboi",
    }}
    robots="follow, nocache"
    theme="#ff5d01"
    author="NaviTheCoderboi"
    keywords={["NaviTheCoderboi", "Navi", "portfolio", "blog"]}
>
    <Navbar />
    <div class="relative w-full lg:w-3/5 h-screen mx-auto">
        <div
            class="w-full lg:w-3/4 py-6 px-2 lg:py-16 lg:px-4 mx-auto text-center"
        >
            <span class="block text-3xl lg:text-7xl font-medium tracking-widest"
                >Welcome, world!</span
            >
            <span
                class="block text-xl lg:text-3xl font-extralight tracking-wider mt-6"
                >View my latest blogs here now!</span
            >
        </div>
        <!-- <div class="dark:hidden w-9/12 lg:w-[50%] mx-auto py-6 px-4">
            <div class="search search-light w-full">
                <input type="text" required="required" />
                <span>search blogs</span>
            </div>
        </div>
        <div class="hidden dark:block w-9/12 lg:w-[50%] mx-auto py-6 px-4">
            <div class="search search-dark w-full">
                <input type="text" required="required" />
                <span>search blogs</span>
            </div>
        </div> -->
        <Blogs />
        <span
            class="fixed bottom-10 lg:top-[90vh] right-10 lg:right-20 p-2 rounded-full bg-orange-500 duration-150 hover:brightness-125 hover:scale-[1.1]"
            onclick="window.scrollTo(0, 0)"
        >
            <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                height="2.5rem"
                width="2.5rem"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M11 8.414V18h2V8.414l4.293 4.293 1.414-1.414L12 4.586l-6.707 6.707 1.414 1.414z"
                ></path></svg
            >
        </span>
    </div>
</Layout>

<!-- <style>
    .search {
        position: relative;
        width: 100%;
    }

    .search input {
        width: 100%;
        padding: 10px;
        border: 2px solid #8b5cf6;
        background-color: transparent;
        border-radius: 5px;
        outline: none;
        font-size: 1.3em;
    }

    .search span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1.3em;
        color: #8b5cf6;
        text-transform: uppercase;
        transition: 0.5s;
        border: none;
    }

    .search input:valid,
    .search input:focus {
        border: 1px solid #ff5d01;
    }
    .search-light input:valid ~ span,
    .search-light input:focus ~ span {
        color: #ff5d01;
        transform: translateX(10px) translateY(-10px);
        font-size: 1em;
        padding: 0 10px;
        background-color: #e8dcf9;
        border-left: 1px solid #ff5d01;
        border-right: 1px solid #ff5d01;
        letter-spacing: 0.2em;
    }

    .search-dark input:valid ~ span,
    .search-dark input:focus ~ span {
        color: #ff5d01;
        transform: translateX(10px) translateY(-10px);
        font-size: 1em;
        padding: 0 10px;
        background-color: #2c243c;
        border-left: 1px solid #ff5d01;
        border-right: 1px solid #ff5d01;
        letter-spacing: 0.2em;
    }
</style> -->
