---

---

<section
    class="min-h-screen w-[95%] lg:w-3/5 mx-auto flex flex-col gap-10 py-6 lg:py-12"
    id="projects"
>
    <h1 class="mx-auto text-6xl font-semibold w-fit">Projects</h1>
    <p
        class="mx-auto text-center text-2xl font-normal w-fit text-gray-700 dark:text-slate-300"
    >
        Here are some of my projects that I have worked on. Don't forget to
        check them out on <a
            href="https://github.com/NaviTheCoderboi?tab=repositories"
            class="text-orange-500 dark:text-orange-400 hover:underline"
            target="_blank">github</a
        >
    </p>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10"></div>
</section>
