---

---

<section
    class="min-h-screen w-[95%] lg:w-3/5 mx-auto flex flex-col gap-10 py-6 lg:py-12"
    id="projects"
>
    <h1 class="mx-auto text-6xl font-semibold w-fit">Projects</h1>
    <p
        class="mx-auto text-center text-2xl font-normal w-fit text-gray-700 dark:text-slate-300"
    >
        Here are some of my projects that I have worked on. Don't forget to
        check them out on <a
            href="https://github.com/NaviTheCoderboi?tab=repositories"
            class="text-orange-500 dark:text-orange-400 hover:underline"
            target="_blank">github</a
        >
    </p>
    <ul
        class="grid grid-cols-1 lg:grid-cols-2 gap-14 w-full place-items-center py-10 px-4"
    >
        <li
            class="flex flex-col w-full h-[13.5rem] lg:h-[12.5rem] bg-[#dccaf5] dark:bg-[#291b3d] rounded-xl shadow-2xl px-10 hover:scale-[1.03] hover:brightness-125 duration-200"
        >
            <a
                class="py-4 text-[#fc66d4] text-4xl font-semibold brightness-75 duration-200 hover:brightness-100"
                href="https://github.com/NaviTheCoderboi/portfolio"
                target="_blank"
            >
                Portfolio
            </a>
            <p class="text-xl font-normal">
                Codebase of my portfolio site made using AstroJS
            </p>
            <ul class="flex items-center py-4 gap-5">
                <span class="h-5 w-5 rounded-full bg-orange-600"></span>
                <span class="text-xl font-normal">Astro</span>
            </ul>
        </li>
        <li
            class="flex flex-col w-full h-[13.5rem] lg:h-[12.5rem] bg-[#dccaf5] dark:bg-[#291b3d] rounded-xl shadow-2xl px-10 hover:scale-[1.03] hover:brightness-125 duration-200"
        >
            <a
                class="py-4 text-[#fc66d4] text-4xl font-semibold brightness-75 duration-200 hover:brightness-100"
                href="https://github.com/Devaunch/ByteChat"
                target="_blank">ByteChat</a
            >
            <p class="text-xl font-normal">
                A NextJS based frontend for the ByteChat website
            </p>
            <ul class="flex items-center py-4 gap-5">
                <span class="h-5 w-5 rounded-full bg-blue-600"></span>
                <span class="text-xl font-normal">TypeScript</span>
            </ul>
        </li>
        <li
            class="flex flex-col w-full h-[13.5rem] lg:h-[12.5rem] bg-[#dccaf5] dark:bg-[#291b3d] rounded-xl shadow-2xl px-10 hover:scale-[1.03] hover:brightness-125 duration-200"
        >
            <a
                class="py-4 text-[#fc66d4] text-4xl font-semibold brightness-75 duration-200 hover:brightness-100"
                href="https://github.com/NaviTheCoderboi/NewsDash"
                target="_blank">NewsDash</a
            >
            <p class="text-xl font-normal">
                NewsDash is a fast and reliable python api wrapper for the
                NewsAPI to fetch news
            </p>
            <ul class="flex items-center py-4 gap-5">
                <span class="h-5 w-5 rounded-full bg-blue-600"></span>
                <span class="text-xl font-normal">Python</span>
            </ul>
        </li>
        <li
            class="flex flex-col w-full h-[13.5rem] lg:h-[12.5rem] bg-[#dccaf5] dark:bg-[#291b3d] rounded-xl shadow-2xl px-10 hover:scale-[1.03] hover:brightness-125 duration-200"
        >
            <a
                class="py-4 text-[#fc66d4] text-4xl font-semibold brightness-75 duration-200 hover:brightness-100"
                href="https://github.com/NaviTheCoderboi/portfolio_v1"
                target="_blank"
            >
                Portfolio V1
            </a>
            <p class="text-xl font-normal">
                Codebase of my portfolio site made using NextJS
            </p>
            <ul class="flex items-center py-4 gap-5">
                <span class="h-5 w-5 rounded-full bg-blue-600"></span>
                <span class="text-xl font-normal">TypeScript</span>
            </ul>
        </li>
    </ul>
</section>
