---
import Layout from '@layouts/Layout.astro';
import Nav from '@components/Nav.astro';
import Hero from '@components/Hero.astro';
import About from '@components/About.astro';
import Projects from '@components/Projects.astro';
import Skills from '@components/Skills.astro';
import Contact from '@components/Contact.astro';
---

<Layout>
    <Nav />
    <main id="main-content">
        <Hero />
        <About />
        <Projects />
        <Skills />
        <Contact />
    </main>
</Layout>
